<ion-header >
    <ion-toolbar color="primary">
      <ion-buttons slot="start">
        <ion-back-button (click)="goBack()" ></ion-back-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>


<ion-content >
  <form  #form="ngForm" (ngSubmit)="forgotPassword(form)">
<ion-grid>
<ion-row justify-content-center>
  <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
    <div text-center>
      <h4>Forgot Password </h4>
    </div>
    <div padding>


  		
      <ion-item>
          <ion-icon name="contact">
						
            </ion-icon>
          <ion-label position="floating">Enter Email Id</ion-label>
          <ion-input type="text" name="email"  ngModel></ion-input> 

      </ion-item>
    </div>

    <div padding>
      <ion-button size="large" type="submit" [disabled]="form.invalid" expand="block">Submit</ion-button>
    </div>
  </ion-col>
</ion-row>
</ion-grid>
</form>
</ion-content> 