<div class="container">
  <a class="previous round" (click)="goBack()">&#8249;</a>

  <!-- <ng4-loading-spinner [timeout]="25000"[loadingText]="'Please wait...Document and profile Picture Upload in process'"> </ng4-loading-spinner> -->

  <div class="row" style="margin:2em 0 0 0 !important;">
    <div class="col-lg-6 col-md-6 col-sm-12">
      <div class="col-lg-6 col-md-6 col-sm-12">
        <img [src]=" image ? image : 'assets/images/userPlaceholder.png'" class="photo_upload" alt="" name="profileImage">
        <div class="edit-profile-section">
          <img src="assets/images/camera.png" class="camera" (click)="profile.click();">
        </div>
        <input type="file" class="file" name="profileImage" #profile (change)="addProfilePicture($event,'PROFILE_PICTURE')" />
      </div>
    </div>
  </div>


  <form name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>


    <div class="row" style="margin:2em 0 0 0 !important;">

      <div class="col-lg-6 col-md-6 col-sm-12">
        <div class="col-lg-12 col-md-12 col-sm-12">
          <h5>{{'commonForm.personalInfo' | translate }}</h5>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12">




       


            <input type="text" class="Input-text" #FNAME="ngModel" [ngClass]="{ 'is-invalid': f.submitted && FNAME.invalid }"
            placeholder="{{'commonForm.firstname' | translate }}"
             required name="firstName" (keypress)="omit_special_char($event)"
            (keypress)=" charOnly($event)" pattern="^[a-zA-Z ]*$" [(ngModel)]="firstName">
            <label for="input" class="Input-label">{{'commonForm.firstname' | translate }}</label>

      



          
          <div class="message-space">

            <span *ngIf="FNAME.touched && FNAME?.errors && FNAME?.errors.required ||f.submitted && FNAME.invalid">
              {{'commonValidation.firstname' | translate }}
            </span>
          </div>



          <div class="Input">


          
            <input type="text" class="Input-text" #LNAME="ngModel" 
            (keypress)="omit_special_char($event)" (keypress)=" charOnly($event)"
            pattern="^[a-zA-Z ]*$" [ngClass]="{ 'is-invalid': f.submitted && FNAME.invalid }"
             placeholder="{{'commonForm.lastname' | translate }}"
            required name="firstName" [(ngModel)]='lastName'>
            <label for="input" class="Input-label">{{'commonForm.lastname' | translate }}</label>

        </div>


          <div class="message-space">



            <span *ngIf="LNAME.touched && LNAME?.errors && LNAME?.errors.required ||f.submitted && LNAME.invalid">
              {{'commonValidation.lastname' | translate }}
            </span>
          </div>



          <div class="Input">


            <input type="email" class="Input-text" #EMAIL="ngModel"
           placeholder="{{'commonForm.email' | translate }}" name="email"
            [(ngModel)]='email' [ngClass]="{ 'is-invalid': f.submitted && EMAIL.invalid }" pattern='^\w+[\w-\.]*\@\w+((-\w+)|(\w*))(\.[a-z]{2,7}){1,2}$'
            required>
            <label for="input" class="Input-label">{{'commonForm.email' | translate }}</label>

        </div>

     
          <div class="message-space">
            <span *ngIf="EMAIL.touched && EMAIL?.errors && EMAIL?.errors.required ||f.submitted && EMAIL.invalid">
              {{'commonValidation.email' | translate }}
            </span>

            <span *ngIf="EMAIL.touched && EMAIL?.errors && EMAIL?.errors.pattern">
              {{'commonValidation.validemail' | translate }}
            </span>

          </div>



          <div class="Input">


            <input type="password" class="Input-text" #PASSWORD="ngModel"
             placeholder="{{'commonForm.password' | translate }}"
            name="password" [(ngModel)]='password' [ngClass]="{ 'is-invalid': f.submitted && PASSWORD.invalid }"
            minlength="8" required>
            <label for="input" class="Input-label">{{'commonForm.password' | translate }}</label>

        </div>



          <div class="message-space">
            <span *ngIf="PASSWORD.touched && PASSWORD?.errors && PASSWORD?.errors.required || f.submitted && PASSWORD.invalid">
              {{'commonValidation.password' | translate }}
            </span>

            <span *ngIf="PASSWORD?.errors &&  PASSWORD?.errors.minlength">
              {{'commonValidation.passwordlength' | translate }}
            </span>
          </div>



          <div class="Input">

            <input type="password" class="Input-text" placeholder="{{'commonForm.confirmpassword' | translate }}" name="confirmPassword"
            value="" [(ngModel)]="confirmPassword" minlength="8" #CONFIRMPASSWORD="ngModel" appConfirmEqualValidator="password"
            [ngClass]="{ 'is-invalid': f.submitted && CONFIRMPASSWORD.invalid }" required validateEqual="password">
            <label for="input" class="Input-label">{{'commonForm.confirmpassword' | translate }}</label>

        </div>


       

          <div class="message-space">

            <span *ngIf="CONFIRMPASSWORD.touched && CONFIRMPASSWORD?.errors && CONFIRMPASSWORD?.errors.required || f.submitted && CONFIRMPASSWORD.invalid">
              {{'commonValidation.confirmpassword' | translate }}
            </span>



            <span *ngIf="CONFIRMPASSWORD?.errors && CONFIRMPASSWORD?.errors.notEqual ">
              {{'commonValidation.confirmpasslength' | translate }}
            </span>

          </div>



          <div class="Input">

            <input type="text" class="Input-text" placeholder="{{'commonForm.phonenumber' | translate }}" name="mobileNumber"
            #MOBILENO="ngModel" [(ngModel)]="mobileNumber" [ngClass]="{ 'is-invalid': f.submitted && MOBILENO.invalid }"
            (keypress)="numberOnly($event)" maxlength="13" minlength="9" required>
            <label for="input" class="Input-label">{{'commonForm.phonenumber' | translate }}</label>

        </div>



        

          <div class="message-space">

            <span *ngIf="MOBILENO.touched && MOBILENO?.errors && MOBILENO?.errors.required || f.submitted && MOBILENO.invalid">
              {{'commonValidation.phonenumber' | translate }}
            </span>
            <span *ngIf="MOBILENO?.errors && MOBILENO?.errors.maxlength">
              {{'commonValidation.phonelength' | translate }}
            </span>
            <span *ngIf=" MOBILENO?.errors && MOBILENO?.errors.minlength">
              {{'commonValidation.phonerange' | translate }}
            </span>
          </div>


          <button type="button" class="btn btn-secondary add-buddies" data-toggle="modal" data-target="#look4Buddies">
            {{'commonForm.buttonTitle.addbuddies' | translate }}
          </button>

          <div class="row" style="margin:2em 0 0 0 !important;">
            <div class="col-md-2 mb-4" *ngFor="let buddy of companions">
              <img [src]="buddy.profilePictureUrl ? picUrl+buddy.profilePictureUrl : 'assets/images/userPlaceholder.png'"
                (error)="errorHandler($event)" class="buddy-image" alt="">
              <img src="assets/images/cross.png" class="ad_cross" alt="" (click)="removeBuddies(buddy._id)" class="buddy-remove">
              <div class="text-center">
                {{buddy.firstName}}
              </div>

            </div>
          </div>



        </div>
      </div>




      <div class="col-lg-6 col-md-6 col-sm-12">
        <div class="col-lg-12 col-md-12 col-sm-12">
          <h5>{{'commonForm.addressInformation' | translate }}</h5>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12">


          <div class="Input">

            <input type="text" class="Input-text" #COUNTRY="ngModel" placeholder="{{'commonForm.country' | translate }}"
            [(ngModel)]="country" name="countryName" [ngClass]="{ 'is-invalid': f.submitted && COUNTRY.invalid }"
            required disabled>
            <label for="input" class="Input-label">{{'commonForm.country' | translate }}</label>

        </div>



        

          <div class="message-space">
            <span *ngIf="COUNTRY.touched && COUNTRY?.errors && COUNTRY?.errors.required 
            || f.submitted && COUNTRY.invalid">
              {{'commonValidation.country ' | translate }}
            </span>
          </div>



          <div class="Input">

            <input type="text" class="Input-text" #STATE="ngModel" placeholder="{{'commonForm.county' | translate }}"
            [(ngModel)]="state" name="stateName" [ngClass]="{ 'is-invalid': f.submitted && STATE.invalid }" required
            disabled>
            <label for="input" class="Input-label">{{'commonForm.county' | translate }}</label>

        </div>

         




          <div class="message-space">
            <span *ngIf="STATE.touched && STATE?.errors && STATE?.errors.required ||
             f.submitted && STATE.invalid">
              {{'commonValidation.county ' | translate }}
            </span>
          </div>

          <div class="Input">

         
            <input type="text" class="Input-text" #CITY="ngModel" placeholder="{{'commonForm.city' | translate }}"
            [(ngModel)]="city" name="cityName" [ngClass]="{ 'is-invalid': f.submitted && CITY.invalid }" required
            disabled>
            <label for="input" class="Input-label">{{'commonForm.city' | translate }}</label>

        </div>



          <div class="message-space">
            <span *ngIf="CITY.touched && CITY?.errors && CITY?.errors.required || f.submitted && CITY.invalid">
              {{'commonValidation.city ' | translate }}
            </span>
          </div>

          <div class="Input">

         
            <input type="text" class="Input-text" placeholder="{{'commonForm.postcode' | translate }}" #PINCODE="ngModel"
            name="pincode" (keypress)="omit_special_char($event)" [ngClass]="{ 'is-invalid': f.submitted && PINCODE.invalid }"
            [(ngModel)]="pincode" maxlength="8" required>
            <label for="input" class="Input-label">{{'commonForm.postcode' | translate }}</label>

         </div>

        

          <div class="message-space">
            <span *ngIf="PINCODE.touched && PINCODE?.errors && PINCODE?.errors.required || f.submitted && PINCODE.invalid">
              {{'commonValidation.postcode' | translate }}
            </span>
          </div>


          <div class="Input">

         
            <input type="text" class="Input-text" #ADDRESSONE="ngModel" placeholder="{{'commonForm.permanent' | translate }}"
            name="addressLineOne" [(ngModel)]="addressLineOne" [ngClass]="{ 'is-invalid': f.submitted && ADDRESSONE.invalid }"
            required>
            <label for="input" class="Input-label">{{'commonForm.permanent' | translate }}</label>

         </div>

       
          <div class="message-space">
            <span *ngIf="ADDRESSONE.touched && ADDRESSONE?.errors && ADDRESSONE?.errors.required || f.submitted && ADDRESSONE.invalid">
              {{'commonValidation.permanent' | translate }}
            </span>
          </div>

        </div>


      </div>



      <div class="col-lg-6 col-md-6 col-sm-12">
        <div class="col-lg-12 col-md-12 col-sm-12">
          <h5>{{'commonForm.carinformation' | translate }}</h5>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12">


          <div class="Input">

         
            <input type="text" class="Input-text" placeholder="{{'commonForm.regnumber' | translate }}" name="registrationNumber"
            #REGISTRATION="ngModel" [ngClass]="{ 'is-invalid': f.submitted && REGISTRATION.invalid }" [(ngModel)]="registrationNumber"
            required>
            <label for="input" class="Input-label">{{'commonForm.regnumber' | translate }}</label>

         </div>



       
          <div class="message-space">
            <span *ngIf="REGISTRATION.touched && REGISTRATION?.errors && REGISTRATION?.errors.required || f.submitted && REGISTRATION.invalid">
              {{'commonValidation.regnumber' | translate }}
            </span>

          </div>

          <div class="Input">

         
            <input type="text" class="Input-text" placeholder="{{'commonForm.chessisnumber' | translate }}" name="chassisNumber"
            #CHASSIS="ngModel" [ngClass]="{ 'is-invalid': f.submitted && CHASSIS.invalid }" [(ngModel)]="chassisNumber"
            required>
            <label for="input" class="Input-label">{{'commonForm.chessisnumber' | translate }}</label>

         </div>

       
          <div class="message-space">

            <span *ngIf="CHASSIS.touched && CHASSIS?.errors && CHASSIS?.errors.required || f.submitted && CHASSIS.invalid">
              {{'commonValidation.chessisnumber' | translate }}
            </span>

          </div>

        <div class="Input">
          <select class=" Input-text" [(ngModel)]="vehicleTypeId" #VECHICALTYPE="ngModel" [ngClass]="{ 'is-invalid': f.submitted && VECHICALTYPE.invalid }"
            required name="vehicleTypeId">
            <option hidden value="" disabled selected>{{'commonForm.vechicaltype' | translate }}</option>
            <option *ngFor="let type of vTypes" [value]="type">{{type}}</option>
          </select>

          <label for="input" class="Input-label" *ngIf="vehicleTypeId">{{'commonForm.vechicaltype' | translate }}</label>

        </div>
          <div class="message-space">
            <span *ngIf="VECHICALTYPE.touched && VECHICALTYPE?.errors && VECHICALTYPE?.errors.required || f.submitted && VECHICALTYPE.invalid">
              {{'commonValidation.vechicaltype' | translate }}
            </span>

          </div>







         <div class="Input">

          <select class="custom-select d-block w-100 Input-text" [(ngModel)]="isAutomatic" required #TYPE="ngModel" [ngClass]="{ 'is-invalid': f.submitted && TYPE.invalid }"
            name="isAutomatic">
            <option hidden value="" disabled selected>{{'commonForm.geartype' | translate }}</option>
            <option *ngFor="let item of gearTypeList" [value]="item._id">{{item.name}}</option>
         </select>
         <label for="input" class="Input-label" *ngIf="isAutomatic">{{'commonForm.geartype' | translate }}</label>

        </div>
          <div class="message-space">
            <span *ngIf="TYPE.touched && TYPE?.errors && TYPE?.errors.required || f.submitted && TYPE.invalid">
              {{'commonValidation.geartype' | translate }}
            </span>
          </div>


        </div>



      </div>








      <div class="col-lg-6 col-md-6 col-sm-12">
        <div class="col-lg-12 col-md-12 col-sm-12">
          <h5>{{'commonForm.documents' | translate }}</h5>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12">



          

         

    







         
          <div class="input-group">
            <input type="text" class="form-control attach Input-text" #ADIPDI="ngModel" placeholder="{{'commonForm.badge' | translate }}"
              name="adiOrPdiBadgeNumber" [(ngModel)]='adiOrPdiBadgeNumber' [ngClass]="{ 'is-invalid': f.submitted && ADIPDI.invalid }"
              placeholder="Attach Instructor Badge" aria-label="Attach Istructor Badge" aria-describedby="button-addon2"
              required>
              <label for="input" class="Input-label" style="z-index: 12123;">{{'commonForm.badge' | translate }}</label>

            <div class="input-group-append">
              <input type="file" name="bedge" class="file" accept="image/x-png,image/gif,image/jpeg" (change)="addDocument($event,'BADGE_NUMBER')"
                #badge>
              <button class="btn btn-outline-secondary" type="button" (click)="badge.click();" id="button-addon2">{{'commonForm.buttonTitle.upload'
                | translate }}
                <i class="fa fa-upload ml-2" aria-hidden="true"></i>
              </button>
            </div>
          </div>
 

          <div class="message-space">
            <span *ngIf="ADIPDI.touched && ADIPDI?.errors && ADIPDI?.errors.required || f.submitted && ADIPDI.invalid">
              {{'commonValidation.badge' | translate }}
            </span>
          </div>




          <div class="input-group">
            <input type="text" class="form-control attach Input-text" placeholder="{{'commonForm.driving' | translate }}"
              aria-label="Attach  Driving License" aria-describedby="button-addon2" #Dl="ngModel" placeholder="Driving Licence"
              [ngClass]="{ 'is-invalid': f.submitted && Dl.invalid }" name="drivingLicence" [(ngModel)]='drivingLicense'
              name="dlName" required>
              <label for="input" class="Input-label" style="z-index: 12123;">{{'commonForm.driving' | translate }}</label>


            <div class="input-group-append">
              <input type="file" name="drivingLic" class="file" accept="image/x-png,image/gif,image/jpeg" (change)="addDocument($event,'DRIVING_LICENSE')"
                #licence>
              <button class="btn btn-outline-secondary" (click)="licence.click();" type="button" id="button-addon2">{{'commonForm.buttonTitle.upload'
                | translate }}
                <i class="fa fa-upload ml-2" aria-hidden="true"></i>
              </button>
            </div>
          </div>
          <span *ngIf="Dl.touched  && Dl?.errors && Dl?.errors.required || f.submitted && Dl.invalid">
            {{'commonValidation.driving' | translate }}
          </span>
          <div class="message-space">

          </div>

        </div>
        <!-- <button (click)="uploadFile()">add</button> -->
        <!-- doc code -->
        <!-- <img [src]="isProfile ? image : 'assets/images/driver.png'" class="photo_upload" alt=""> -->
        <div class="doc_detail">

          <div class="row" style="margin:2em 0 0 0 !important;">
            <div class="col-md-4 m-3" *ngFor="let doc of documents">
              <img [src]="doc && doc.view ? doc.view : 'assets/images/docImage.jpeg'" (error)="errorHandlerDoc($event)"
                class="buddy-image" alt="">
              <img src="assets/images/cross.png" class="ad_cross" alt="" (click)="removeDocument(doc.documentType)"
                class="buddy-remove">

              <div class="text-center">
                {{doc.documentType ? doc.documentType : "NA"}}
              </div>

            </div>
          </div>



        </div>




      </div>



    </div>

    <div class="row" style="margin:2em 0 2em 0 !important;">
      <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="col-lg-12 col-md-12 col-sm-12 submit-btn-success">
          <button class="btn btn-primary" class="submit-btn">{{'commonForm.buttonTitle.register' | translate}}</button>
        </div>
      </div>
    </div>


  </form>

  <div class="modal fade" id="look4Buddies" tabindex="-1" role="dialog" aria-labelledby="look4BuddiesLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <img src="assets/images/cancilPop.png" #close class="close-icon" data-dismiss="modal">
        <h2 class="modal-title">{{'commonForm.buttonTitle.addbuddies' | translate }}</h2>

        <div class="form-wrapper">

          <input type="text" class="mod_input buddy-search-box" placeholder="{{'commonValidation.searchCompanions' | translate }}"
            name="Search" value="" (input)="searchCompanions($event.target.value)">

          <div class="row buddy" *ngFor="let item of final">


            <div class="col-md-4">
              <img [src]="item.profilePictureUrl ? picUrl+item.profilePictureUrl : 'assets/images/userPlaceholder.png'"
                (error)="errorHandler($event)" class="sm-image" alt="">
            </div>
            <div class="col-md-6 buddy-name">
              {{item.firstName ? item.firstName: item.email}}
            </div>
            <div class="col-md-2 buddy-add">
              <button class="add btn btn-success" (click)="addBuddies(item._id)" data-dismiss="modal">+</button>
            </div>


          </div>

        </div>

      </div>
    </div>
  </div>
</div>