.horizonatalLine{
    background:#e0e0e0;
}
.heading{
    color: #404040;
    font-weight: 600;
}

.normalText {
    color: #555;
    margin-top: 15px;
}
a{
    text-decoration: none;
}

.roundButton {
    
}