<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Sign Policies</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-header>
  <ion-toolbar>
    <ion-title>Please read the policies and accept</ion-title>

  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>Residential Customer Policy</ion-card-header>
    <ion-card-subtitle>Sugar Mountain Enterprises LLC Policy</ion-card-subtitle>
    <ion-card-content >
      <ion-grid>
      
   <h1>1. Install and Remove Orders</h1>
   <p>Orders can be placed either by phone, fax or through our website. When using the website, you will receive confirmations of orders placed and completed to help track your orders. Phone orders can be placed during our office hours are M-F 8:30 –4:30 p.m. 
      Install orders are billed on a per sign basis. Multiple signs on the same property are charged as additional sign orders. We provide service Mon.-Fri. and our standard policy allows 3 business days for completion. We are unable to guarantee service on a specific day but will do our best to accommodate special requests.
      For clarification, the term "within 3 business days" is defined as follows: The first "business day" is the day following the day the order is placed. Orders placed after 4:00 p.m. will be considered placed the next business day. Weekends and all holidays are not considered business days. An exception to the 3 business day completion policy would be hazardous weather conditions. Work typically will be halted during inclement weather and not resumed until work conditions are deemed safe (You can check the 'Breaking News' section of our website to see if bad weather conditions have delayed our drivers). 
      If an order is placed stating that it cannot be done until a specific date, we consider that date as the first business day of the 3 business day policy. We will attempt to complete the order as close as possible to your request. 
      Agents should verify that the property owners and/or tenants are aware of a sign being installed. If we go to a property and the owner or tenants do not allow a sign to be installed, a service charge will be charged. Agents should verify that there is a location for installation of a post before the order is placed. Sugar Mountain cannot install a post in asphalt, cement, brick or any solid surface. If there is no location to safely install a post on a property, only a sign panel may be tied to the house or building. For safety reasons, we are not able to attach posts to fences or poles. If there is no place to safely tie the sign panel, no sign will be installed. Permission from the homeowner is required before nails or screws are used. Sugar Mountain can place sign panels only on the first story of a house or building if specified.
      Sugar Mountain employees cannot climb fences to complete an order. If there is not access into an area, and there is no other area to install the sign, a panel may be attached to a fence or building with the owners permission. Lots, land, and new construction sites must be marked for sign location before the order is placed. We provide orange flags with our name on them upon request at no charge. Sign location should be at least 5 feet away from the edge of sidewalks, walkways, driveways, rock walls etc. for safety, unless otherwise specified by town zoning regulations.
      In most towns throughout New England, real estate signs are not allowed between the sidewalk and the curb, this area is considered Town or City property. Removal orders should be placed at least 3 business days before the closing or expiration to greater ensure the return of signs and posts. If we go to a property and the sign is not visible or found by the driver (locked in garage, thrown away, etc), a service charge will be charged and your office will be notified that we did not retrieve the post and panel. If the post is not retrieved, there is a missing post fee. For legal reasons, we are unable to enter structures such as garages, sheds, etc.
      Sugar Mountain may determine that an order is outside our service area and decline to complete that order or add a surcharge. Orders outside our service area are not included in the 3 business day completion policy.
      All install and remove orders should be done by Sugar Mountain Enterprises LLC. We reserve the right to discontinue service if we find orders using our posts have been done by agents, other sign companies or representatives of your office.</p>

      <h1>2. Repair Orders</h1>
      <p>Sign panels are manually inventoried monthly. Your monthly sign panel inventory is available both online (after the 3rd day of the month) and on your monthly invoice. We reserve the right to discard any panel or rider that we consider to be in poor condition or unusable. Riders can be added at time of installation for an additional fee. Riders added to a sign already in the field will be done for an added fee. Panels and riders are collected when signs are removed. There is no extra fee for storage of signs. We will not be responsible for lost, stolen or broken panels and riders. If requested, we can deliver panels or riders to your office for a small fee. All riders should be marked with your office name to assure their return.</p>
     
    
      <h1>3.Sign Panels & Riders</h1>
    <p>Sign panels are manually inventoried monthly. Your monthly sign panel inventory is available both online (after the 3rd day of the month) and on your monthly invoice. We reserve the right to discard any panel or rider that we consider to be in poor condition or unusable. Riders can be added at time of installation for an additional fee. Riders added to a sign already in the field will be done for an added fee. Panels and riders are collected when signs are removed. There is no extra fee for storage of signs. We will not be responsible for lost, stolen or broken panels and riders. If requested, we can deliver panels or riders to your office for a small fee. All riders should be marked with your office name to assure their return.</p>
    



    <h1>4.Incorrect or Incomplete Orders</h1>
    <p>Our service is based on the quality of information we receive. It is important that this information be stated clearly, be complete, and be correct. An order will not be considered received until the house number, street, town, and color and style of the house or building are provided. The 3 business day policy (or 5 business day policy for commercial signs) begins when all of the correct information is received. If we travel to the address provided by your office, and we are unable to confirm that we have the proper location due to incorrect information given, a service call will be charged.</p>


    <h1>5.Lost or Damaged Posts</h1>
    <p>4x4 pressure treated Colonial Style wooden sign posts are provided by Sugar Mountain. Your office is responsible for insuring the return of all posts in good condition. Loss or non-repairable damage to posts will result in a missing post charge.</p>



    <h1>6.Permission for Right to enter property / Damage Waiver</h1>
   <p>By placing any order, you give Sugar Mountain Enterprises LLC and its subcontractors, permission to enter that property to complete the job. With this permission, comes the knowledge that we will be installing a sign post up to 27 inches into the ground and painting the post. Please note this means that there may be wet paint on the post. At times of inclement weather, we will return to the property to paint the post at a later date. 
      It is impossible to see underground piping, wiring, sprinkler systems, gas lines, dog fences, or cable TV lines. Any damages to dog fences, sprinkler systems, underground utilities or any other objects will be the responsibility of the agent, or the agent’s office. It is the responsibility of the real estate agent and/or homeowner to determine if approvals are needed from utility companies or if "CBYD" needs to be called to mark any underground utilities. If the property is not flagged, Sugar Mountain will assume that all underground obstacles are below the 27 inches required for installation and not in the area where the sign will be installed. We are not responsible for any damages made to underground objects and if we are charged for damaged to underground objects, we reserve the right to bill the agent or agent’s office for the damages.</p>



   <h1>7.Payments</h1>
   <p>Payment is expected to be received in full within 30 days. Interest on past due amounts will be charged at a minimum of 1.5%. If payment is not received by 60 days from the bill closing date, work may be suspended until payment is made. The three business day policy for sign installations and removals does not apply if your account is over 60 days past due. If past due bills are sent to a collection agency or court action is required to collect money owed to Sugar Mountain Enterprises LLC, a $500.00 collection fee, and court costs, and/or other collection fees will be charged.
      The prices charged by Sugar Mountain Enterprises LLC for sign installation covers the cost of installing your signs. There is no charge for sign removals for any sign that we install. Sugar Mountain reserves the right to remove any or all installed signs if past due invoice(s) are not paid in full within 61 days after the invoice date. The customer will still be responsible for all charges even if signs are removed due to non-payment. The person signing this agreement, the broker or owner of the office may be held responsible for past due invoices and collection fees.</p>



   <h1>8.Termination of Service</h1>
   <p>Should your office discontinue using our services, or we choose to terminate service to your office/company, our written termination of services agreement must be completed by an authorized representative of your company. If the form is not filled out and returned promptly, we reserve the right to immediately remove all signs. You will be responsible for picking up your sign panels, riders, and any other office-owned equipment which will be made available by appointment only, only after all due and past due invoices are paid in full.</p>



   <h1>9.Inactive Customers</h1>
   <p>If there are no transactions by a customer for a period of 6 months or more and there is no notification of termination of services, Sugar Mountain reserves the right to remove all standing signs and discard all panels and riders. Missing posts will be billed to the customer.</p>


   <h1>10.Policy Term</h1>
   <p>From date of acceptance, which is the date that you or your company placed your first sign order by the web ordering system, fax, or phone, until terminated by Sugar Mountain Enterprises LLC in writing.</p>




    </ion-grid>
    </ion-card-content>
  </ion-card>
</ion-content>
