h2.text-center.pay_to_dc {
    padding: 0;
    margin: 0;
    font-weight: bold;
    margin-bottom: 30px;
}
        .custom_label {
           font-size: 13px;
       }
       .label_value {
           font-size: 18px;
           margin-bottom: 10px;
       }
       .shad {
    box-shadow: 0 0 3px 2px #a5a0a0;
    padding: 30px;
    margin: 10px;
    width: calc(100% - 15px);
}

input, button, select, textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    margin-left: 40px;
    margin-top: 10px;
}
#showLeftPush{
    visibility: hidden;
}
.lds-dual-ring {
    display: inline-block;
    width: 64px;
    height: 64px;
  }
  .lds-dual-ring:after {
    content: " ";
    display: block;
    width: 46px;
    height: 46px;
    margin: 1px;
    border-radius: 50%;
    border: 5px solid #fff;
    border-color: #fff transparent #fff transparent;
    animation: lds-dual-ring 1.2s linear infinite;
  }
  @keyframes lds-dual-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  