<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Sign In Request Order Form</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-header>
  <ion-toolbar>

    <ion-title>My Posts Details</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngFor="let item of myOldPostList">
    <ion-card-content (click)="goToFinalSignPage(item)">
      <ion-grid>
        <ion-row>
          <ion-col><b>#Site:</b></ion-col>
          <ion-col>{{ item.SiteNumber }}</ion-col>
        </ion-row>
        <ion-row>
          <ion-col><b>#Street:</b></ion-col>
          <ion-col>{{ item.SiteStreet }}</ion-col>
        </ion-row>
        <ion-row>
          <ion-col><b>City:</b></ion-col>
          <ion-col>{{ item.SiteCity }}</ion-col>
        </ion-row>
        <ion-row>
          <ion-col><b>State:</b></ion-col>
          <ion-col>{{ item.SiteState }}</ion-col>
        </ion-row>
        <!-- <ion-row>
            <ion-col><a (click)="goToFinalSignPage()">Remove this sign</a></ion-col>
            <ion-col></ion-col>
          </ion-row> -->

      </ion-grid>
    </ion-card-content>
  </ion-card>
</ion-content>
