<div id="page-wrapper" class="dash_warn">
  <div class="main-page1">
    <div class="container">
      <img src="assets/images/logo.png" class="dash_branding" alt="">
      <div class="row">
        <div class="col-md-12">
          <div class="img_con">


            <lottie-animation-view [options]="lottieConfig" [height]="200" (animCreated)="handleAnimation($event)">
            </lottie-animation-view>
            <!-- <img src="assets/images/bad_connection.png" class="bad_connection" alt=""> -->
            <!-- <span class="url">https://www.lottiefiles.com/372-wifi-wiper</span> -->
          </div>
          <h1 class="Bad_net">Bad Net</h1>
          <h5 class="text-white">you have to get connection</h5>
        </div>
      </div>
    </div>
  </div>
</div>