
select{
    display: block;
    border: none;
    margin: 0px;
    border: 1px solid #c2c2c2;
    border-radius: 7px;
    padding: 10px;
    padding-left: 23px;
    outline: none;
    width: 100%;
    color: #555555;
    background: white;
    text-align: left;
    height: 46px !important;
}

span{
    color: #f00;
    font-style: italic;
    font-size: 13px;
}

.message-space{
    height: 30px !important;
}

.submit-btn-section{
    max-width: 300px;
    margin: auto;
}

.submit-btn{
    display: block;
    font-family: 'Cabin', sans-serif;
    background-color: #F9A11B;
    color: #fff;
    border-radius: 7px;
    border: 1px solid #F9A11B;
    padding: 10px;
    text-align: center;
    margin: 20px auto;
    width: 300px;
}

.submit-btn:hover{
    background-color: #fff;
    color: #F9A11B;
}



.login-btn{
    display: block;
    font-family: 'Cabin', sans-serif;
    color: #F9A11B;
    border-radius: 7px;
    border: 1px solid #F9A11B;
    padding: 10px 0px;
    text-align: center;
    margin: 20px auto;
}

a.login-btn:hover {
    background: #F9A11B;
    color: white;
}

.bottom-section{
    max-width: 300px;
    margin: auto;
    margin-top: 35px;
}

input.mod_input {
    margin: 0 !important;
}