<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>
      Change Password
    </ion-title>
  </ion-toolbar>
</ion-header>

<div padding>
  <ion-grid>
    <ion-row>
      <ion-col size=10></ion-col>
      <ion-col size=2>
       <button ion-button icon-only (click)="onModelDismiss(form)">
         <ion-icon name="close"></ion-icon>
       </button>
         
      </ion-col>
    </ion-row>
  </ion-grid>
</div>

<ion-content >
  <form  #form="ngForm" (ngSubmit)="changePassword(form)">
<ion-grid>
<ion-row justify-content-center>
  <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
 
    <div padding>

        <ion-item>
            <ion-label position="floating">Current Password</ion-label>
            <ion-input type="text" name="currentPass"  ngModel></ion-input> 

        </ion-item>
  
        <ion-item>
            <ion-label position="floating">New Password</ion-label>
            <ion-input type="password" name="newPass"  ngModel></ion-input>

        </ion-item>

        <ion-item>
          <ion-label position="floating">Re-type New Password</ion-label>
          <ion-input type="password" name="reTypeNewPass"  ngModel></ion-input>

      </ion-item>
    
    </div>



    <div padding>
      <ion-button size="large" type="submit" [disabled]="form.invalid" expand="block">Change Password</ion-button>
  </div>
  

  </ion-col>
</ion-row>
</ion-grid>
</form>
</ion-content> 


